{
  "version": [
    1,
    0,
    0
  ],
  "blackholes": [
    {
      "id": null,
      "dirpath": "BLACKHOLE-DIRECTORY-PATH",
      "name": "BLACKHOLE-NAME (changing name, create a new blackhole in database)",
      "telegram_id": "-1",
      "encryption_type": "NONE or ChaCha20Poly1305",
      "encryption_pass": "PASSWORD-TO-RECOVER-YOUR-FILES"
    }
  ],
  "core": {
    "temp_dir": ".temp",
    "db_filename": "wbh.db",
    "backup_pass": "PASSWORD-TO-RECOVER-DATABASE-FILE-BLACKHOLE",
    "blackhole_config_filename": ".__WBH__.json",
    "blackhole_queue_dirname": ".WBH_QUEUE",
    "bot": {
      "api": "YOUR-BOT-ID",
      "proxy": {
        "proxy_url": null
      }
    },
    "chunk_size": 18874368,
    "path_check_interval": 6,
    "log": {
      "core": {
        "level": 20
      },
      "bot": {
        "level": 20
      }
    }
  }
}